<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu_v1">

  <xacro:macro name="imu_v1" params="parent imu_length imu_width imu_height *origin">

    <joint name="imu_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="imu_link"/>
    </joint>

    <link name="imu_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.05"/>
        <inertia ixx="1e-05" ixy="0.0" ixz="0.0" iyy="1e-05" iyz="0.0" izz="2e-05"/>
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${imu_length} ${imu_width} ${imu_height}"/>
        </geometry>
        <material name="Gray"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${imu_length} ${imu_width} ${imu_height}"/>
        </geometry>
      </collision>
    </link>
    <!--
    <gazebo reference="imu_link">
      <sensor type="imu" name="imu_sensor">
        <pose>0 0 0 0 0 0</pose>
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <visualize>true</visualize>
        <topic>imu</topic>
        <frame_name>imu_link</frame_name>
      </sensor>
    </gazebo>
    -->
    <gazebo reference="imu_link">
      <sensor type="imu" name="imu_sensor">
        <always_on>1</always_on>
        <update_rate>50</update_rate>
        <visualize>true</visualize>
        <topic>imu</topic>
        <frame_name>imu_link</frame_name>
        <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
